.bg-dark
    background-color: black !important

.navbar-brand
    font-weight: 700

.nav-link
    font-weight: 600
    border-radius: 10px
    &:hover
        text-decoration: line-through

    &.active
        text-decoration: underline
        width: max-content
        &:hover
            text-decoration: line-through