<div class="pt-md-5 container-fluid">
    <div class="row mx-0 mt-4 mb-md-4 w-100">
        <div class="col-sm-2"></div>
        <div class="col-12 col-md-4">
            <img src="assets/about.jpg" alt="A picture of Kavin Arulnambi" class="img-fluid">
        </div>
        <div class="col-12 col-md-4">
            <div class="about-card h-100 d-flex align-items-center">
                <div>
                    <h1>Hi, i am Kavin Arulnambi,<br>a Freelance Artist from Chennai, India</h1>
                    <h2>Nice to meet you too!</h2>
                    <p>I’m doing my bachelors degree in Visual Communications in Chennai.<br> I have a background in Photography, Aesthetics, Music, 3D, Video and Photo Manipulation</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-md-5 pt-md-5">
        <div class="col-12 col-md-6 text-center">
            <h3>Skills</h3>
            <ul>
                <li>3D Modelling</li>
                <li>3D Animation</li>
                <li>Photography</li>
                <li>Digital/ Traditional Artist</li>
            </ul>
        </div>
        <div class="col-12 col-md-6 text-center">
            <h3>Softwares proficient with</h3>
            <ul>
                <li>Blender</li>
                <li>Houdini</li>
                <li>Adobe Photoshop</li>
                <li>Autodesk 3ds Max</li>
                <li>Adobe After Effects</li>
                <li>Adobe Premiere Pro</li>
            </ul>
        </div>
    </div>
    <div class="row"></div>
</div>
