<!-- Header -->
<section id="header" class="d-flex container-fluid full-body bg-dark" style="background-image: url('assets/home_bg.jpg');">
    <div class="container-fluid d-flex align-items-center">
        <div class="card ms-auto">
            <div class="card-body px-2 py-4">
                <h1 class="card-title display-2">KAVINOGRAPH<span style="color: red;">.</span></h1>
                <h2 class="card-subtitle mb-5 display-6"></h2>
                <span class="d-md-inline">
                    <a href="/#mywork" class="card-btn-pri btn">Swipe Down <i class="im im-angle-down" style="color: red;"></i></a>
                    <a href="/aboutme" routerLink="aboutme" class="card-btn-sec btn ms-2">About Me</a>
                </span>
            </div>
        </div>
    </div>
</section>
<!-- Works -->
<section id="mywork" class="d-flex container-fluid full-body bg-dark pt-md-5" data-aos="fade-up">
    <div class="d-flex justify-content-center container p-4">
        <div class="row">
            <div class="d-flex col-12 col-md-6 p-4" data-aos="fade-up">
                <div class="work-card">
                    <img src="assets/countach1-01.jpg" class="img-fluid ratio ratio-1x1" alt="3D Renders">
                    <a href="/mywork/3dwork" routerLink="/mywork/3dwork" class="fs-2 work-card-text text-center">3D Renders</a>
                </div>
            </div>
            <div class="d-flex p-4 col-12 col-md-6" data-aos="fade-up">
                <div class="work-card">
                    <img src="assets/countach1-03.jpg" class="img-fluid ratio ratio-1x1" alt="Graphic Design">
                    <a href="/mywork/graphicdesign" routerLink="/mywork/graphicdesign" class="fs-2 work-card-text text-center">Graphic Design</a>
                </div>
            </div>
            <div class="d-flex p-4 col-12 col-md-6" data-aos="fade-up">
                <div class="work-card">
                    <img src="assets/countach1-02.jpg" class="img-fluid ratio ratio-1x1" alt="Sketches">
                    <a href="/mywork/sketches" routerLink="/mywork/sketches" class="fs-2 work-card-text text-center">Sketches</a>
                </div>
            </div>
            <div class="d-flex p-4 col-12 col-md-6" data-aos="fade-up">
                <div class="work-card">
                    <img src="assets/countach1-04.jpg" class="img-fluid ratio ratio-1x1" alt="Photographs">
                    <a href="/mywork/photographs" routerLink="/mywork/photographs" class="fs-2 work-card-text text-center">Photographs</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container d-flex-row justify-content-center">
        <div class="row justify-content-center">
            <div class="d-flex flex-column justify-content-center col-12 p-2 text-center" data-aos="fade-up">
                <h2 class="mb-4">Youtube</h2>
                <div class="img-thumbnail">
                    <div class="ratio ratio-16x9">
                        <iframe src="https://www.youtube.com/embed/7CvfQtn-NA8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-4 container-fluid" data-aos="fade-up">
        <h2 class=" mb-4 text-center">Instagram</h2>
        
        <div class="elfsight-app-c146a3cf-398b-41b6-8053-f2baa3b69704"></div>    
    </div>
</section>
<!-- Projects -->
<section id="projects" class="container-fluid py-4 bg-dark">
    <h1 class="text-center t-title mb-3" data-aos="fade-up">Projects</h1>
    <div class="container w-lg-50" data-aos="fade-up">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-interval="3000" data-bs-touch="true" data-bs-ride="carousel">
            <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="card h-100" style="color:black">
                    <img src="https://kavinograph.files.wordpress.com/2020/11/web-raptor.jpg" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title">RAPTOR RUN</h5>
                        <p class="card-text">Raptor run was an attempt to more accurately animate a velociraptor running with the in built tools available within Blender 2.83</p>        
                        <a href="https://youtu.be/WKJt2YVPgB4" class="btn btn-danger" target="_blank"> <i class="im im-youtube"></i> Watch Now</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card h-100" style="color:black">
                    <img src="https://kavinograph.files.wordpress.com/2020/11/tank-web.jpg" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title">BLITZ 1942</h5>
                        <p class="card-text">Blitz 1942 is an animated short film made in 20 days in Blender 2.83. and is loosely based on WW2 </p>        
                        <a href="https://youtu.be/E47Us58D6wY" class="btn btn-danger" target="_blank"> <i class="im im-youtube"></i> Watch Now</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card h-100" style="color:black">
                    <img src="https://kavinograph.files.wordpress.com/2020/11/spectre-web.jpg" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title">ROME.</h5>
                        <p class="card-text">Rome. is an animated car chase sequence made for the Andrey lebrov Automotive challenge . animated in Blender</p>        
                        <a href="https://youtu.be/vVVI6LHbytk" class="btn btn-danger" target="_blank"> <i class="im im-youtube"></i> Watch Now</a>
                    </div>
                </div>
            </div>
            </div>
            <a style="opacity: 1;" class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-bs-slide="prev">
                <span class="bg-dark rounded-circle p-2" aria-hidden="true"><i class="im im-angle-left p-1" style="vertical-align: middle;"></i></span>
            <span class="visually-hidden">Previous</span>
            </a>
            <a style="opacity: 1;" class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-bs-slide="next">
            <span class="bg-dark rounded-circle p-2" aria-hidden="true"><i class="im im-angle-right p-1" style="vertical-align: middle;"></i></span>
            <span class="visually-hidden">Next</span>
            </a>
        </div>
    </div>
</section>
<!-- Contact Me -->
<section id="contactme" class="container-fluid py-5 bg-dark text-center" data-aos="flip-up">
    <h1>Want to work with me?</h1>
    <h3>Reach out to me in the following spaces!</h3>
    <div class=" mt-5 container d-flex justify-content-evenly w-md-50">
        <a href="https://www.instagram.com/kavinograph/" aria-label="instagram">
            <i class="im im-instagram"></i>    
        </a>
        <a href="https://www.facebook.com/kavin.arulnambi" aria-label="facebook">
            <i class="im im-facebook"></i>
        </a>
        <a href="" aria-label="email">
            <i class="im im-mail"></i>
        </a>
    </div>
</section>